# An Introduction to Pandas Objects

<a href="https://colab.research.google.com/github/uqglmn/pylab/blob/main/An_Introduction_to_Pandas_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this introduction we will explore three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We begin with the standard NumPy and Pandas imports:

In [10]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
# compare with numpy ndarray
np.array([0.25, 0.5, 0.75, 1.0])

array([0.25, 0.5 , 0.75, 1.  ])

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [13]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [14]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [15]:
data[1]

0.5

In [16]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, the Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array that it emulates.

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the NumPy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.
For example, if we wish, we can use strings as an index:

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

And the item access works as expected:

In [18]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [19]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [20]:
data[5]

0.5

**Your turn.** Create a Pandas series with values from 1 to 26 and indices from "a" to "z". <br> Hint: import ``string`` and try ``string.ascii_lowercase``.

In [21]:
# write your code here

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [22]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [23]:
population['California']

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [24]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series objects

We've already seen a few ways of constructing a Pandas ``Series`` from scratch; all of them are some version of the following:

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of many entities.

For example, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

In [25]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

In [26]:
pd.Series(6, index=[100, 200, 300]) # replace 5 with [5,6] to get an error; can you see why?

100    6
200    6
300    6
dtype: int64

``data`` can be a dictionary, in which ``index`` defaults to the sorted dictionary keys:

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'}) # keys:values -> indices:values

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [31]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]) # selects the indexed entries only, try adding index 4

3    c
2    a
dtype: object

Notice that in this case, the ``Series`` is populated only with the explicitly identified keys.

**Your turn.** Create a Series object with 10 values being random integers from 1 to 10 indexed by lowercase letters starting with `a`. <br>
Hint: use ``list()`` to define the required index: 
```python
list('abc')
>>> ['a', 'b', 'c']
```

In [32]:
# write your code here

**Your turn.** Create a dictionary ``prices_dict`` with 3 keys and values:

```
Espresso: 1.00, Latte: 2.50, Americano: 2.00
```

Then create a Pandas Series ``prices`` from this dictionary.

In [33]:
# write your code here

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.

### DataFrame as generalized NumPy array

If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.
Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new ``Series`` listing the area of each of the five states discussed in the previous section:

In [34]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [35]:
states = pd.DataFrame({'population': population, 
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [36]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [37]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [38]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

**Important!** Notice the potential point of confusion here: 

- In a two-dimesnional NumPy array, ``data[0]`` will return the first *row*. 
- For a ``DataFrame``, ``data['col0']`` will return the first *column*.

Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [39]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [40]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

**Your turn.** Create a DataFrame ``beverages`` from the Series ``prices`` (from your previous exercise). Choose the column name to be ``prices``.
Then print the DataFrame, its indices and columns. Observe the data type of the later two objects.

In [41]:
# write your code here

In [42]:
# write your code here

#### From a list of dictionaries

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [43]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]  # {i=0}, {i=1}, {i=2} - each dictionary is a new row!
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [44]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) # notice that keys are combined!

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

**Your turn.** Create three dictionaries having the same keys but possibly different values, for instance:
```
James_dict = name:James, age:30, city:London 
Ann_dict   = name:Ann,   age:25, city:Hatfield
Mo_dict    = name:Mo,    age:35, city:St.Albans 
```
Then combine these three dictionaries into a list, and convert this list into a DataFrame with column names ``name, age, city``.

In [45]:
# write your code here

#### From a dictionary of Series objects

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [46]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

**Your turn.** Create two dictionaries:

```
vol_ml_dict = Espresso:30, Latte:632, Americano:150
sales_dict  = Espresso:50, Latte:30, Americano:15
```

Then create a DataFrame ``beverages`` by combining the ``prices_dict``, ``vol_ml_dict``, and ``sales_dict`` dictionaries. Label its columns by "price", "volume", and "sales".

In [47]:
# write your code here

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [48]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'], 
             index=['a', 'b', 'c'])

        foo       bar
a  0.483056  0.038176
b  0.686929  0.551334
c  0.993100  0.043224

**Your turn.** Create a 3x3 array or random integers from 0 to 9 and convert it into a DataFrame with columns: a, b, c, and indices: 1, 2, 3.

In [49]:
# write your code here

#### From a CSV file

A ``DataFrame`` can be constructed by reading a comma-separated values (csv) file:

In [55]:
# read file into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/uqglmn/pylab/main/data/president_heights_copy.csv") 
df.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

Notice that the ``order`` column is in fact an index column. We can set this in advance using the key ``index_col``:

In [56]:
# read file into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/uqglmn/pylab/main/data/president_heights_copy.csv", index_col="order")  
df.head()

                    name  height(cm)
order
1      George Washington         189
2             John Adams         170
3       Thomas Jefferson         189
4          James Madison         163
5           James Monroe         183

To save a DataFrame to a csv file use ``.to_csv`` method:

In [44]:
# write to a csv file
df.to_csv("president_heights_copy.csv")

order,name,height(cm)
1,George Washington,189
2,John Adams,170
3,Thomas Jefferson,189
4,James Madison,163
5,James Monroe,183
6,John Quincy Adams,171
7,Andrew Jackson,185
8,Martin Van Buren,168
9,William Henry Harrison,173

#### From an Excel file

A ``DataFrame`` can be constructed by reading an excel spreadsheet file:

In [57]:
# read file into a DataFrame
f = pd.read_excel("https://raw.githubusercontent.com/uqglmn/pylab/main/data/president_heights_copy.xlsx")  
df.head()

                    name  height(cm)
order
1      George Washington         189
2             John Adams         170
3       Thomas Jefferson         189
4          James Madison         163
5           James Monroe         183

To save a DataFrame to an excel file use ``.to_excel`` method:

In [46]:
# write to an excel file
df.to_excel("president_heights_copy.xlsx")

More information on pandas Input and Output routines can be found on the [pandas.IO](https://pandas.pydata.org/docs/reference/io.html) documentation website.

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [47]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [48]:
ind[1]

3

In [49]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [50]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via the normal means:

In [51]:
ind[1] = 0 # gives an error!

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

### Index as ordered set

Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects of set arithmetic.
The ``Index`` object follows many of the conventions used by Python's built-in ``set`` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [52]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [53]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [54]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [55]:
indA.symmetric_difference(indB) # this is an interesting function, isn't it?

Int64Index([1, 2, 9, 11], dtype='int64')

---

## Exercises

**Exercise 2.1.1**  Create the following Pandas objects:

- A DataFrame shown below from a dictionary of lists.
```
    Category  Marks
0    Array     20
1    Stack     21
2    Queue     19
```
Hint: First, create a dictionary with keys being column names and values being lists of column values. Then convert this dictionary into a DataFrame.

In [60]:
# write your solution here

- A DataFrame shown below from a dictionary of lists.
```
    Category  Student_1  Student_2
0    Array         20         15
1    Stack         21         20
2    Queue         19         14
```

In [59]:
# write your solution here

- A DataFrame shown below from a list of lists.
```
      Name  Age
0    Max   10
1  Bingo   15
2    Lea   20
```

In [61]:
# write your solution here

- A DataFrame shown below from a list of lists.
```
    Category         Name  Marks
0       DS  Linked_list     10
1       DS        Stack      9
2       DS        Queue      7
3     Algo       Greedy      8
4     Algo           DP      6
5     Algo    BackTrack      5
```

In [62]:
# write your solution here

- A DataFrame shown below from a list of tuples.
```
     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5
```
Hint: Think of each row as a tuple. Then the table is a list of such tuples with given column names.

In [63]:
# write your solution here

---

*This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; also available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*